<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zgiot.kepserver.dao.ChannelDao">
    <resultMap id="ProjectMap" type="com.zgiot.kepserver.pojo.Project">
        <collection property="channels" resultMap="ChannelMap"/>
    </resultMap>

    <resultMap id="ChannelMap" type="com.zgiot.kepserver.pojo.Channel">
        <result property="name" column="channel_name"/>
        <result property="description" column="channel_description"/>
        <result property="multipleTypesDeviceDriver" column="multiple_types_device_driver"/>
        <result property="networkAdapter" column="network_adapter"/>
        <result property="modbusPortNumber" column="modbus_port_number"/>
        <result property="modbusProtocol" column="modbus_protocol"/>
        <result property="modbusMaxSockets" column="modbus_max_sockets"/>
        <result property="modbusOneOrMoreSockets" column="modbus_one_or_more_sockets"/>
        <collection property="deviceList" resultMap="DeviceMap"/>
    </resultMap>

    <resultMap id="DeviceMap" type="com.zgiot.kepserver.pojo.Device">
        <result property="name" column="device_name"/>
        <result property="description" column="device_description"/>
        <result property="driver" column="driver"/>
        <result property="model" column="model"/>
        <result property="ip" column="ip"/>
        <result property="scanMode" column="scan_mode"/>
        <result property="scanRate" column="device_scan_rate"/>
        <result property="portNumber" column="port_number"/>
        <result property="modbusPortNumber" column="modbus_port_number"/>
        <collection property="tags" resultMap="TagMap"/>
    </resultMap>

    <resultMap id="TagMap" type="com.zgiot.kepserver.pojo.Tag">
        <result property="tagName" column="tag_name"/>
        <result property="description" column="tag_description"/>
        <result property="address" column="address"/>
        <result property="dataType" column="data_type"/>
        <result property="readWriteAccess" column="read_write_access"/>
        <result property="scanRate" column="scan_rate"/>
    </resultMap>

    <select id="findAllChannels" resultMap="ChannelMap">
        SELECT
            c.name        AS channel_name,
            c.description AS channel_description,
            c.network_adapter,
            c.multiple_types_device_driver,
            c.modbus_max_sockets,
            c.modbus_one_or_more_sockets,
            c.modbus_port_number,
            c.modbus_protocol,
            d.name as device_name,
            d.description as device_description,
            d.driver,
            d.ip,
            d.scan_mode,
            d.scan_rate as device_scan_rate,
            d.model,
            d.port_number,
            d.modbus_port_number,
            t.name as tag_name,
            t.description as tag_description,
            t.address,
            t.data_type,
            t.`read_write`,
            t.scan_rate
        FROM channels_profile c, devices_profile d, tags_profile t
        WHERE t.channel_name = c.name AND t.device_name = d.name AND  c.name =d.channel_name
        and t.profile = #{profile} and c.profile = #{profile} and d.profile = #{profile}

    </select>

    <select id="findAllChannelsWithoutTags" resultMap="ChannelMap">
        SELECT
            c.name        AS channel_name,
            c.description AS channel_description,
            c.network_adapter,
            c.multiple_types_device_driver,
            c.modbus_max_sockets,
            c.modbus_one_or_more_sockets,
            c.modbus_port_number,
            c.modbus_protocol,
            d.name as device_name,
            d.description as device_description,
            d.driver,
            d.ip,
            d.scan_mode,
            d.scan_rate as device_scan_rate,
            d.model,
            d.port_number,
            d.modbus_port_number
        FROM channels_profile c, devices_profile d
        WHERE  c.name =d.channel_name and c.profile = #{profile} and d.profile = #{profile}
    </select>

    <insert id="insertLabelRecords" parameterType="com.zgiot.kepserver.pojo.Label">
        INSERT INTO rel_thing_metric_label (thing_code, metric_code, label_path, enabled, bool_reverse) VALUES
            <foreach collection="labelList" item="label" separator="),(" open="(" close=")">
                    #{label.thingCode},#{label.metricCode},#{label.labelPath},#{label.enabled},#{label.boolReverse}
            </foreach>
    </insert>

    <insert id="insertTagRecords" parameterType="com.zgiot.kepserver.pojo.Tag">
        INSERT INTO tags_profile ( name, description, address, data_type, `read_write`, scan_rate, channel_name, device_name, profile) VALUES
            <foreach collection="tagList" item="tag" separator="),(" open="(" close=")">
                #{tag.tagName},#{tag.description},#{tag.address},#{tag.dataType},#{tag.readWriteAccess},#{tag.scanRate},#{tag.channelName},#{tag.deviceName},#{profile}
            </foreach>
    </insert>

    <delete id="delLabels">
        TRUNCATE rel_thing_metric_label;
    </delete>

    <delete id="delProfileTags">
        DELETE FROM tags_profile WHERE profile = #{profile}
    </delete>

    <delete id="delTabSignal">
        TRUNCATE tab_signal;
    </delete>

    <insert id="insertTabSignal" parameterType="com.zgiot.kepserver.pojo.TabSignal">
        INSERT INTO tab_signal ( deviceId,typeId, name, dataLabel, type,  boolReal, enableCondition,  deviceCode,  state, unit, channel) VALUES
        <foreach collection="signalList" item="signal" separator="),(" open="(" close=")">
            #{signal.deviceId},#{signal.typeId},#{signal.name},#{signal.dataLabel},#{signal.type},#{signal.boolReal},#{signal.enableCondition},#{signal.deviceCode},#{signal.state},#{signal.unit},#{signal.channel}
        </foreach>
    </insert>

    <select id="getMetricCodeAndName" resultType="com.zgiot.kepserver.pojo.Label">
        SELECT metric_code,metric_name FROM tb_metric
    </select>

    <select id="getDeviceIdAndCode" resultType="com.zgiot.kepserver.pojo.TabSignal">
        SELECT object_id as deviceId,location_serial_num as deviceCode FROM sff_production_location;
    </select>


</mapper>
